    /* 전체 페이지 스타일 */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    /* 컨테이너 스타일 */
    .container {
      display: flex;
      height: 100vh; /* 페이지의 전체 높이로 설정 */
    }

    /* 왼쪽 칼럼 스타일 */
    .left-column {
      flex: 1;
      background-color: #f2f2f2;
      padding: 20px;
    }

    /* 오른쪽 칼럼 스타일 */
    .right-column {
      flex: 2;
      background-color: #fff;
      padding: 20px;
      overflow:auto;
    }

    /* 버튼 스타일 */
    .button {
      display: inline-block;
      padding: 10px;
      margin-right: 10px;
      background-color: #ccc;
      border: none;
      color: #fff;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
    }

    /* 결과창 스타일 */
    .result {
      background-color: #f2f2f2;
      padding: 20px;
    }

    #hiddenDateDiv {display: none}
    #buttonlist{display:none}
    #hiddenButton2 { display:none}
    #hiddenDiv {display:none}

     .left-column {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
        }

        a{
            text-decoration:none;
            color:black;
            font-size:30px
        }

        a:hover {
            color:blue;
        }

        form {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }

        #buttonlist {
            margin-top: 10px;
            padding: 5px;
        }

        input[type="date"] {
            margin-top: 10px;
            padding: 5px;
        }

        .button {
            display: block;
            width: 200px;
            margin: 20px 0;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #45a049;
        }

        form:last-child .button {
            background-color: #2196F3;
        }

        form:last-child .button:hover {
            background-color: #0e83cd;
        }
        .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4개의 열을 생성 */
  gap: 10px; /* 카드 간의 간격 설정 */
  max-width:800px;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}