<!DOCTYPE html>
<script src="{{url_for('static',filename='hi.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<html>
<head>
    <title>Two Column Layout</title>
</head>
<body>
<div class="container">
    <div class="left-column">
        <h1><a href="/">Main Page</a></h1>
        <form method="GET" action="/search">
            <h1>적용 필터</h1>
            <input type="radio" name="radio" value="genre_button" onclick="showButton()">장르
            <input type="radio" name="radio" value="date_button" onclick="showButton()">날짜

            <select id="buttonlist" name="genre" onchange="showSelectedButton()">
                <option value="1">영화 & 애니메이션</option>
                <option value="2">자동차 & 차량</option>
                <option value="10">음악</option>
                <option value="15">애완동물 & 동물</option>
                <option value="17">스포츠</option>
                <option value="18">짧은 영화</option>
                <option value="19">여행 & 이벤트</option>
                <option value="20">게임</option>
                <option value="21">비디오블로그</option>
                <option value="22">사람 & 블로그</option>
                <option value="23">코미디</option>
                <option value="24">엔터테이먼트</option>
                <option value="25">뉴스 & 정치학</option>
                <option value="26">스타일</option>
                <option value="27">교육</option>
                <option value="28">과학&기술</option>
                <option value="30">영화</option>
                <option value="31">애니매이션</option>
                <option value="32">액션</option>
                <option value="33">클래식</option>
                <option value="34">코미디</option>
                <option value="35">다큐멘터리</option>
                <option value="36">드라마</option>
                <option value="37">가족</option>
                <option value="38">외국어</option>
                <option value="39">공포</option>
                <option value="40">공상과학</option>
                <option value="41">스릴러</option>
                <option value="42">스포츠</option>
                <option value="43">쇼</option>
                <option value="44">예고편</option>
            </select>
            <div id="hiddenDateDiv">
                시작날짜: <input name="startDate" type="date" value="startDate" id="hiddenButtonStart"></input>
                종료날짜: <input name="endDate" type="date" value="endDate" id="hiddenButtonEnd"></input>
            </div>

            <h1>정렬 순서</h1>
            <input type="radio" name="radio2" value="view_count" onclick="showButton()">조회수
            <input type="radio" name="radio2" value="likes" onclick="showButton()">좋아요수
            <input type="radio" name="radio2" value="comment_count" onclick="showButton()">댓글수
            <input type="date" id="hiddenButton2"></input>
            <button class="button">검색 시작</button>
        </form>

        <form action="/bokeyem" method="post">
            <button class="button">게시 후 가장 짧은 기간만에 HOT한 영상</button>
        </form>
    </div>
    <div class="right-column">
        <div class="result">
            <div class="grid-container">
                <!-- 결과창 내용을 여기에 추가 -->
                {% for i in data %}
                <div class="card">
                    <p>{{loop.index}} 위</p>
                    <p><img src={{i.thumbnail_link}} width="200" height="100" align="center"></p>
                    <p>제목 : {{i.title}}</p>
                    <p>조회수 : {{i.view_count}}</p>
                    <p>날짜 : {{i.publishedAt}}</p>
                    <p>좋아요 : {{i.likes}}</p>
                    <p>댓글수 : {{i.comment_count}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>